*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}






/* bannersection */
/* .banner{
  height: 300px;
  background-image: url(/asserts/contact.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
} */

/* applying the media queries for banner */
/* @media screen and (max-width:576px) {
    .banner{
        height: 100px;
        background-image: url(/asserts/contact.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }
} */
/* home banner-section */
.home-banner{
  height: 50vh;
  width: 100%;
}

.modal-body>img{
  height: 50vh;
  width: 100%;
}

.gallery-banner>img{
  width: 100%;
  height: 50vh;
}

.gallery-banner>.card-content{
  position: absolute;
  top: 250px;
  left: 500px;
}

/* carousel-item style start */
.carousel-item>img{
  height: 70vh;
  width: 100%;
}

.const-img{
  width: 100%;
  height: 100%;
}






/* carousel-item style end */
.section {
  display: none; 
}

.section:target {
  display: block; 
}

/* Optional: Smooth scrolling */
html {
  scroll-behavior: smooth;
}




/* carousel-item media-queries start*/
@media screen and (max-width:576px) {
  .carousel-item>img{
    height: 30vh;
    width: 100%;
  }
  .home-banner{
    height: 30vh;
    width: 100%;
  }
  .modal-body>img{
    height: 30vh;
    width: 100%;
  }
}
/* carousel-item media-queries end*/